<!--  SECONDARY WRAP  -->
<div class="photopixel_fl_secondary_wrap">

    <div class="second_type_of_project">
        <div class="container">
            <div class="breadcrumbs">
                <p><a href="index.html">Home</a> / <span>Projects</span></p>
            </div>

            <div class="project_title">
                <h3>Projects</h3>
            </div>
        </div>
    </div>

    <!-- PROJECT LIST -->
    <div class="container">
        <div class="aaaabbbb">
            <ul class="project_list">
                <li>
                    <div class="photopixel_main_img_holder">
                        <img src="assets/img/project/1.jpg" alt=""/>
                        <div class="overlay">
                            <a href="project_single1.html"></a>
                        </div>
                        <div class="img_name"><a href="project_single1.html"><span>Girls Portrait</span></a></div>
                        <div class="img_icons">
                            <a href="#">
                                <img class="svg" src="assets/img/svg/heart.svg" alt=""/>
                            </a>
                            <a href="project_single1.html">
                                <img class="svg" src="assets/img/svg/forward.svg" alt=""/>
                            </a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="photopixel_main_img_holder">
                        <img src="assets/img/project/2.jpg" alt=""/>
                        <div class="overlay">
                            <a href="project_single1.html"></a>
                        </div>
                        <div class="img_name"><a href="project_single1.html"><span>Pure Childhood</span></a></div>
                        <div class="img_icons">
                            <a href="#">
                                <img class="svg" src="assets/img/svg/heart.svg" alt=""/>
                            </a>
                            <a href="project_single1.html">
                                <img class="svg" src="assets/img/svg/forward.svg" alt=""/>
                            </a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="photopixel_main_img_holder">
                        <img src="assets/img/project/3.jpg" alt=""/>
                        <div class="overlay">
                            <a href="project_single1.html"></a>
                        </div>
                        <div class="img_name"><a href="project_single1.html"><span>Into the Forest</span></a></div>
                        <div class="img_icons">
                            <a href="#">
                                <img class="svg" src="assets/img/svg/heart.svg" alt=""/>
                            </a>
                            <a href="project_single1.html">
                                <img class="svg" src="assets/img/svg/forward.svg" alt=""/>
                            </a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="photopixel_main_img_holder">
                        <img src="assets/img/project/4.jpg" alt=""/>
                        <div class="overlay">
                            <a href="project_single1.html"></a>
                        </div>
                        <div class="img_name"><a href="project_single1.html"><span>City Road</span></a></div>
                        <div class="img_icons">
                            <a href="#">
                                <img class="svg" src="assets/img/svg/heart.svg" alt=""/>
                            </a>
                            <a href="project_single1.html">
                                <img class="svg" src="assets/img/svg/forward.svg" alt=""/>
                            </a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="photopixel_main_img_holder">
                        <img src="assets/img/project/5.jpg" alt=""/>
                        <div class="overlay">
                            <a href="project_single1.html"></a>
                        </div>
                        <div class="img_name"><a href="project_single1.html"><span>Golden Autumn</span></a></div>
                        <div class="img_icons">
                            <a href="#">
                                <img class="svg" src="assets/img/svg/heart.svg" alt=""/>
                            </a>
                            <a href="project_single1.html">
                                <img class="svg" src="assets/img/svg/forward.svg" alt=""/>
                            </a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="photopixel_main_img_holder">
                        <img src="assets/img/project/6.jpg" alt=""/>
                        <div class="overlay">
                            <a href="project_single1.html"></a>
                        </div>
                        <div class="img_name"><a href="project_single1.html"><span>Family Holiday</span></a></div>
                        <div class="img_icons">
                            <a href="#">
                                <img class="svg" src="assets/img/svg/heart.svg" alt=""/>
                            </a>
                            <a href="project_single1.html">
                                <img class="svg" src="assets/img/svg/forward.svg" alt=""/>
                            </a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="photopixel_main_img_holder">
                        <img src="assets/img/project/7.jpg" alt=""/>
                        <div class="overlay">
                            <a href="project_single1.html"></a>
                        </div>
                        <div class="img_name"><a href="project_single1.html"><span>Summer Joy</span></a></div>
                        <div class="img_icons">
                            <a href="#">
                                <img class="svg" src="assets/img/svg/heart.svg" alt=""/>
                            </a>
                            <a href="project_single1.html">
                                <img class="svg" src="assets/img/svg/forward.svg" alt=""/>
                            </a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="photopixel_main_img_holder">
                        <img src="assets/img/project/8.jpg" alt=""/>
                        <div class="overlay">
                            <a href="project_single1.html"></a>
                        </div>
                        <div class="img_name"><a href="project_single1.html"><span>Blue Lake</span></a></div>
                        <div class="img_icons">
                            <a href="#">
                                <img class="svg" src="assets/img/svg/heart.svg" alt=""/>
                            </a>
                            <a href="project_single1.html">
                                <img class="svg" src="assets/img/svg/forward.svg" alt=""/>
                            </a>
                        </div>
                    </div>
                </li>
            </ul>

            <div class="next">
                <a href="#">Next Projects<i class="xcon-angle-right"></i></a>
            </div>

        </div>
    </div>
    <!-- /PROJECT LIST -->

</div>
<!--  /SECONDARY WRAP  -->


