

            <!--  SECONDARY WRAP  -->
            <div class="photopixel_fl_secondary_wrap wow bounceInUp">
            	<div class="photopixel_fl_secondary_wrap_in">

					<!-- PHOTOGRAPHER IMAGE AND INFO -->
					<div class="container">
						<div class="photer_box">

							<div class="photer_img">
								<img src="assets/img/profile_prev.jpg" alt="" />
								<div class="overlay"></div>

								<div class="title_holder">
									<div class="title_holder_in">
										<h3>John Doe</h3>
										<span>Photographer</span>
									</div>
								</div>
							</div>

							<div class="photer_full_info">
								<h3>I’m a <em>photographer</em> who brings exceptional knowledge and enthusiasm to every photo shoot. </h3>
								<p>Curabitur at magna feugiat, vestibulum libero vitae, tempor massa. Vivamus non leo non turpis viverra malesuada. Nunc rutrum leo nec lacinia pharetra. Donec eu ligula vitae <a href="#">massa ultricies</a> pellentesque id nec lorem. Donec eu dignissim nibh. Phasellus at nibh et nulla ultricies dapibus eget id est.</p>
								<div class="social_icons">
									<ul>
										<li>
											<a href="#"><i class="xcon-facebook-1"></i></a>
										</li>
										<li>
											<a href="#"><i class="xcon-twitter-1"></i></a>
										</li>
										<li>
											<a href="#"><i class="xcon-instagram"></i></a>
										</li>
										<li>
											<a href="#"><i class="xcon-pinterest-1"></i></a>
										</li>
										<li>
											<a href="#"><i class="xcon-gplus-1"></i></a>
										</li>
									</ul>
								</div>
								<div class="clearfix"></div>
								<a href="#" class="photopixel_fl_btn" data-position="" data-size="" data-text-color="#3651ff" data-bg-color="transparent" data-border-color="#3651ff" >Hire Me</a>
							</div>

						</div>
					</div>
					<!-- PHOTOGRAPHER IMAGE AND INFO -->

					<!-- PHOTOGRAPHER KNOWLEDGE -->
					<div class="container">

						<div class="photer_knowledge photopixel_fl_masonry">
							<div class="title_holder photopixel_fl_masonry_in">
								<h1>01.</h1>
								<h2>Brainstorm to find<br />New Ideas</h2>
								<span>Curabitur at magna feugiat, ves tibulum libero vitae, tempor massa, vivamus non leo.</span>
							</div>
							<div class="title_holder photopixel_fl_masonry_in">
								<h1>02.</h1>
								<h2>Shoot in Different Conditions</h2>
								<span>Curabitur at magna feugiat, ves tibulum libero vitae, tempor massa, vivamus non leo.</span>
							</div>
							<div class="title_holder photopixel_fl_masonry_in">
								<h1>03.</h1>
								<h2>Bringing Results to Customers</h2>
								<span>Curabitur at magna feugiat, ves tibulum libero vitae, tempor massa, vivamus non leo.</span>
							</div>
						</div>

					</div>
					<!-- PHOTOGRAPHER KNOWLEDGE -->

					<div class="photopixel_fl_secondary_wrap">
						<div class="about_msg">
							<div class="container">
								<p>Clients <em>allow</em> you to do what you love. Re-pay them by giving them a killer <em>customer experience.</em></p>
							</div>
							<div class="overlay">
								<div class="overlay_color"></div>
							</div>
						</div>
					</div>

					<!-- PROJECT LIST -->
					<div class="container">
						<div class="aaaabbbb">
							<ul class="project_list">
								<li>
									<div class="photopixel_main_img_holder">
										<img src="assets/img/project/1.jpg" alt="" />
										<div class="overlay">
											<a href="project_single1.html"></a>
										</div>
										<div class="img_name"><a href="#"><span>Girls Portrait</span></a></div>
										<div class="img_icons">
											<a href="#">
												<img class="svg" src="img/svg/heart.svg" alt="" />
											</a>
											<a href="project_single1.html">
												<img class="svg" src="img/svg/forward.svg" alt="" />
											</a>
										</div>
									</div>
								</li>
								<li>
									<div class="photopixel_main_img_holder">
										<img src="assets/img/project/2.jpg" alt="" />
										<div class="overlay">
											<a href="project_single1.html"></a>
										</div>
										<div class="img_name"><a href="#"><span>Pure Childhood</span></a></div>
										<div class="img_icons">
											<a href="#">
												<img class="svg" src="img/svg/heart.svg" alt="" />
											</a>
											<a href="project_single1.html">
												<img class="svg" src="img/svg/forward.svg" alt="" />
											</a>
										</div>
									</div>
								</li>
								<li>
									<div class="photopixel_main_img_holder">
										<img src="assets/img/project/3.jpg" alt="" />
										<div class="overlay">
											<a href="project_single1.html"></a>
										</div>
										<div class="img_name"><a href="#"><span>Into the Forest</span></a></div>
										<div class="img_icons">
											<a href="#">
												<img class="svg" src="img/svg/heart.svg" alt="" />
											</a>
											<a href="project_single1.html">
												<img class="svg" src="img/svg/forward.svg" alt="" />
											</a>
										</div>
									</div>
								</li>
								<li>
									<div class="photopixel_main_img_holder">
										<img src="assets/img/project/4.jpg" alt="" />
										<div class="overlay">
											<a href="project_single1.html"></a>
										</div>
										<div class="img_name"><a href="#"><span>City Road</span></a></div>
										<div class="img_icons">
											<a href="#">
												<img class="svg" src="img/svg/heart.svg" alt="" />
											</a>
											<a href="project_single1.html">
												<img class="svg" src="img/svg/forward.svg" alt="" />
											</a>
										</div>
									</div>
								</li>
							</ul>

							<div class="clearfix"></div>

							<div class="view_all">
								<a href="project1.html">VieW All Projects<i class="xcon-angle-right"></i></a>
							</div>

						</div>
					</div>
					<!-- /PROJECT LIST -->

					<!-- FULL CONTAINER -->
					<div class="photopixel_fl_full_width_container" data-padding-top="" data-padding-bottom="150px">
						<div class="content_holder" data-text-color="">
							<p>Vestibulum ante ipsum primis in faucibus orci luctus et dignissim nibh nulla ultricies dapibus eget id est.</p>
							<img src="img/about/sign.png" alt="" />
							<h3>John Doe</h3>
							<span>Photographer</span>
						</div>
						<div class="background_holder">
							<div class="bg_img" data-speed=""></div>
							<div class="bg_video" data-speed=""></div>
							<div class="bg_color" data-color="" data-opacity=""></div>
						</div>
					</div>
					<!-- FULL CONTAINER -->

				</div>
            </div>
            <!--  /SECONDARY WRAP  -->

