<li>
  <div class="photopixel_main_img_holder">
    <img [src]="album.thumb_img" alt=""/>
    <div class="overlay">
      <a href="project_single1.html"></a>
    </div>
    <div class="img_name"><a href="project_single1.html"><span>{{album.title}}</span></a></div>
    <div class="img_icons">
      <a href="#">
        <img class="svg" src="assets/img/svg/heart.svg" alt=""/>
      </a>
      <a href="project_single1.html">
        <img class="svg" src="assets/img/svg/forward.svg" alt=""/>
      </a>
    </div>
  </div>
</li>
