<!-- FLUID WRAP -->
           <div class="photopixel_fl_fluid_wrap">

               <!-- MAIN SLIDER -->
               <div class="photopixel_fl_main_slider">
                   <div class="flexslider">
                       <ul class="slides">
                           <li>
                               <div class="slides_bg one"></div>
                               <div class="title_holder">
                                   <h2><a href="project_single1.html"><span>Girls Portrait</span></a></h2>
                               </div>
                               <div class="photopixel_fl_overlay"></div>
                           </li>
                           <li>
                               <div class="slides_bg two"></div>
                               <div class="title_holder">
                                   <h2><a href="project_single1.html"><span>Pure Childhood</span></a></h2>
                               </div>
                               <div class="photopixel_fl_overlay"></div>
                           </li>
                           <li>
                               <div class="slides_bg three"></div>
                               <div class="title_holder">
                                   <h2><a href="project_single1.html"><span>Blue Lake</span></a></h2>
                               </div>
                               <div class="photopixel_fl_overlay"></div>
                           </li>
                           <li>
                               <div class="slides_bg four"></div>
                               <div class="title_holder">
                                   <h2><a href="project_single1.html"><span>Wonderful Mountain</span></a></h2>
                               </div>
                               <div class="photopixel_fl_overlay"></div>
                           </li>
                           <li>
                               <div class="slides_bg five"></div>
                               <div class="title_holder">
                                   <h2><a href="project_single1.html"><span>Miraculous Forest</span></a></h2>
                               </div>
                               <div class="photopixel_fl_overlay"></div>
                           </li>
                       </ul>
                       <div class="purchase">
                           <a href="#">
                               <img class="svg" src="assets/img/svg/shopping-cart.svg" alt=""/>
                           </a>
                           <div class="tooltip"><span>Purchase Photo</span></div>
                       </div>
                   </div>
               </div>
               <!-- /MAIN SLIDER -->

           </div>
           <!-- /FLUID WRAP -->
