<!-- HORIZONTAL MENU -->
<div class="photopixel_fl_horizontal_menu">

    <!-- HORIZONTAL BAR -->
    <div class="horizontal_menu_in">
        <div class="logo">
            <a href="index.html"><img src="assets/img/logo.png" alt=""/></a>
        </div>
        <div class="menu_list">
            <ul>
                <li>
                    <a class="volume" href="#">
                        <img class="svg volumeon" src="assets/img/svg/speaker.svg" alt=""/>
                        <img class="svg volumeoff hidden" src="assets/img/svg/speaker-off.svg" alt=""/>
                    </a>
                </li>
                <li>
                    <a class="profile" href="#">
                        <img class="svg" src="assets/img/svg/human.svg" alt=""/>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)" class="trigger">
						<span class="menu">
							<span class="a"></span>
							<span class="b"></span>
							<span class="c"></span>
						</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!-- /HORIZONTAL BAR -->

    <div class="clearfix"></div>

    <!-- PROFILE RESPONSIVE -->
    <div class="profile_res_info">
        <div class="profile_img">
            <img src="assets/img/profile_prev.jpg" alt=""/>
        </div>
        <div class="info">
            <div class="info_in">
                <h3>Stephan Tompsan</h3>
                <div class="social_icons">
                    <ul>
                        <li>
                            <a href="#"><i class="xcon-facebook-1"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="xcon-twitter-1"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="xcon-instagram"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="xcon-pinterest-1"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="xcon-gplus-1"></i></a>
                        </li>
                    </ul>
                </div>
                <a href="#" class="photopixel_fl_btn" data-position="" data-size="medium" data-text-color="#fff"
                   data-bg-color="transparent" data-border-color="#3651ff">Hire Me</a>
            </div>
        </div>
    </div>
    <!-- /PROFILE RESPONSIVE -->

    <!-- NAVIGATION LIST RESPONSIVE -->
    <div class="navigation_list">
        <div class="language">
            <a href="#" class="active"><span class="english">Eng</span></a><a href="#"><span class="francuse">Fra</span></a><a
                href="#"><span class="germany">Ger</span></a>
        </div>
        <div class="search_share">
            <span><a class="search" href="#">Search</a>/<a class="share" href="#">Share</a></span>
        </div>
        <div class="list">
            <ul class="nav">
                <li>
                    <a routerLink="/" class="home"><span>Home</span></a>
                </li>
                <li>
                    <a routerLink="/profile" class="about"><span>profile</span></a>
                </li>
                <li>
                    <a routerLink="/projects" class="photos"><span>Albums</span></a>

                </li>
                <li>
                    <a href="#"><span>Pages</span></a>

                </li>
                <li>
                    <a href="blog.html" class="blog"><span>Blog</span></a>
                </li>
                <li>
                    <a href="contact.html" class="contact"><span>Contact</span></a>
                </li>
            </ul>
        </div>
    </div>
    <!-- /NAVIGATION LIST RESPONSIVE -->

</div>
<!-- /HORIZONTAL MENU -->

<!-- VERTICAL MENU -->
<div class="photopixel_fl_vertical_menu" data-bg-color="noBg">

    <!-- OVERLAY FOR CLOSING OPENED BOXES -->
    <div class="photopixel_fl_vertical_menu_overlay"></div>
    <!-- /OVERLAY -->

    <!-- LEFTBAR -->
    <div class="photopixel_fl_leftbar scrollable">
        <ul>
            <li>
                <a href="javascript:void(0)" class="trigger">
      					<span class="menu">
      						<span class="a"></span>
						<span class="b"></span>
						<span class="c"></span>
      					</span>
                </a>
            </li>
            <li class="profile">
                <a href="#" class="profile">
                    <img class="svg" src="assets/img/svg/human.svg" alt=""/>
                </a>
            </li>
            <li class="gallery">
                <a href="#" class="gallery">
                    <img class="svg" src="assets/img/svg/gallery.svg" alt=""/>
                </a>
            </li>
            <li>
                <a href="#" class="search">
                    <img class="svg" src="assets/img/svg/search.svg" alt=""/>
                </a>
            </li>
            <li>
                <a href="#" class="share">
                    <img class="svg" src="assets/img/svg/share.svg" alt=""/>
                </a>
            </li>
            <li>
                <a href="#" class="volume">
                    <img class="svg volumeon" src="assets/img/svg/speaker.svg" alt=""/>

                    <img class="svg volumeoff hidden" src="assets/img/svg/speaker-off.svg" alt=""/>
                </a>
            </li>
        </ul>

        <!-- COPYRIGHT -->
        <div class="photopixel_fl_cright_wrap">
            <div class="photopixel_fl_cright">
                <span>Copyright &copy; 2017</span>
            </div>
        </div>
        <!-- /COPYRIGHT -->

    </div>
    <!-- /LEFTBAR -->

    <!-- LEFTBAR NAVIGATION -->
    <div class="photopixel_fl_leftbar_nav">
        <div class="photopixel_fl_leftbar_nav_in scrollable">
            <div class="left_bar">

                <div class="language">
                    <a href="#" class="active"><span class="english">Eng</span></a><a href="#"><span
                        class="francuse">Fra</span></a><a href="#"><span class="germany">Ger</span></a>
                </div>
                <div class="logo">
                    <img src="assets/img/logo.png" alt=""/>
                </div>
                <ul class="nav">
                    <li>
                        <a routerLink="/" class="home"><span>Home</span></a>


                    </li>
                    <li>
                        <a routerLink="/profile" class="about"><span>profile</span></a>
                    </li>
                    <li>
                        <a routerLink="/projects" class="photos"><span>Albums</span></a>

                    </li>
                    <li>
                        <a routerLink="/projects"><span>Pages</span></a>

                    </li>
                    <li>
                        <a href="blog.html" class="blog"><span>Blog</span></a>
                    </li>
                    <li>
                        <a href="contact.html" class="contact"><span>Contact</span></a>
                    </li>
                </ul>
                <div class="cright">
                    <span>&copy; Copyright 2017. Designed<br/>by <a href="#">FriendsLaboratory</a></span>
                </div>

            </div>
        </div>
    </div>
    <!-- /LEFTBAR NAVIGATION -->

    <!-- PROFILE PREVIEW -->
    <div class="photopixel_fl_profile_prev">
        <div class="photopixel_fl_profile_prev_in scrollable">
            <div class="profile_preivew">

                <div class="profile_img">
                    <img src="assets/img/profile_prev.jpg" alt=""/>
                </div>
                <div class="title_holder">
                    <h3>Stephan Tompsan</h3>
                    <p>I’m a photographer who brings exceptional knowledge and enthusiasm to every photo
                        shoot.</p>
                </div>
                <div class="social_icons">
                    <ul>
                        <li>
                            <a href="#"><i class="xcon-facebook-1"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="xcon-twitter-1"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="xcon-instagram"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="xcon-pinterest-1"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="xcon-gplus-1"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="clearfix"></div>
                <a routerLink="/profile" class="photopixel_fl_btn" data-position="" data-size="medium" data-text-color="#fff"
                   data-bg-color="transparent" data-border-color="#3651ff">About me</a>

            </div>
        </div>
    </div>
    <!-- /PROFILE PREVIEW -->

    <!-- GALLERY PREVIEW -->
    <div class="photopixel_fl_gallery_prev">
        <div class="photopixel_fl_gallery_prev_in scrollable">
            <ul class="gallery_list_prev">
                <li>
                    <img src="assets/img/gallery_prev/1.jpg" alt=""/>
                </li>
                <li>
                    <img src="assets/img/gallery_prev/2.jpg" alt=""/>
                </li>
                <li>
                    <img src="assets/img/gallery_prev/3.jpg" alt=""/>
                </li>
                <li>
                    <img src="assets/img/gallery_prev/4.jpg" alt=""/>
                </li>
                <li>
                    <img src="assets/img/gallery_prev/5.jpg" alt=""/>
                </li>
                <li>
                    <img src="assets/img/gallery_prev/6.jpg" alt=""/>
                </li>
                <li>
                    <img src="assets/img/gallery_prev/7.jpg" alt=""/>
                </li>
                <li>
                    <img src="assets/img/gallery_prev/8.jpg" alt=""/>
                </li>
            </ul>
        </div>
    </div>
    <!--  /GALLERY PREVIEW  -->

</div>
<!-- /VERTICAL MENU -->
