<!-- WRAPPER ALL -->
<div class="photopixel_fl_wrapper_all">

    <!-- CONTENT -->
    <div class="photopixel_fl_content">

        <app-nav-menu></app-nav-menu>

        <!-- SEARCH -->
        <div class="photopixel_fl_search">
            <div class="photopixel_fl_search_in">
                <div class="aaa">
                    <div class="search_box">
                        <div class="search_box_in">
                            <div class="form">
                                <form>
                                    <input type="search" placeholder="Search..."/>
                                    <div class="icon">
                                        <a href="#">
                                            <img class="svg" src="assets/img/svg/search.svg" alt=""/>
                                        </a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="closer"></div>
                </div>
            </div>
        </div>
        <!-- /SEARCH -->

        <!-- SHARE -->
        <div class="photopixel_fl_share">
            <div class="photopixel_fl_share_in">
                <div class="aaa">
                    <div class="share_box">
                        <div class="share_box_in">
                            <h3>Share The Page Via:</h3>
                            <ul>
                                <li><a href="#">Facebook</a></li>
                                <li><a href="#">Pinterest</a></li>
                                <li><a href="#">Twitter</a></li>
                                <li><a href="#">Email</a></li>
                                <li><a href="#">LinkedIn</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="closer"></div>
                </div>
            </div>
        </div>
        <!-- /SHARE -->

        <!-- CONTENT IN-->
        <div class="photopixel_fl_content_in">


            <router-outlet></router-outlet>




            <!-- AUDIOBOX -->
            <audio controls autoplay class="myaudio">
                <source src="ringtone.mp3" type="audio/mpeg">
            </audio>
            <!-- /AUDIOBOX -->

        </div>
        <!-- /CONTENT IN-->

    </div>
    <!-- /CONTENT -->

    <a class="totop" href="#"><i class="xcon-angle-down"></i></a>

</div>
<!-- / WRAPPER ALL -->
